
body {
  background-color: "grey";
  margin: 0;
}

.display-content {
  background-color: white;
  width: 700px;
  height: 460px;
  padding: 15px;
  position: relative;
  top: -150px;
}

.movie-content {
  font-size: 50px;
  color: #000000;
}

.genre-btn {
    position: relative;
    top: -100px;
}

#title {
  font-size: 60px;
}

#year {
  font-size: 40px;
}

#rating {
  font-size: 40px;
}

#plot {
  font-size: 20px;
}
