
body {
  background-color: "grey";
  margin: 0;
}

.display-content {
  background-color: white;
  width: 700px;
  height: 460px;
  padding: 15px;
  position: relative;
  top: -150px;
}

.movie-content {
  font-size: 50px;
  color: #000000;
}

.genre-btn {
    position: relative;
    top: -100px;
}

#title {
  font-size: 60px;
}

#year {
  font-size: 40px;
}

#rating {
  font-size: 40px;
}

#plot {
  font-size: 20px;
}

@media screen and (max-width: 375px) {
  .watch-list {
    position: relative;
    left: 5000px;
    width: 125px;
    height: 65px;
    font-size: 0px;
  }

  .watch-list button {
    position: relative;
    top: 10px;
    left: -4890px
  }

  .display-content {
    width: 275px;
    height: 200px;
    position: relative;
    top: -20px
  }

  .genre-btns {
    position: relative;
    top: 90px;
    left: 10px;

  }

  .genre-btn {
    width: 100px;
  }

  #title {
    font-size: 30px;
  }
  
  #year {
    font-size: 20px;
  }
  
  #rating {
    font-size: 20px;
  }
  
  #plot {
    font-size: 0;
  }

  #watchlist-button {
    position: relative;
    top: 15px
  }
}

@media screen and (max-width: 414px) {
  .watch-list {
    position: relative;
    left: 5000px;
    width: 125px;
    height: 65px;
    font-size: 0px;
  }

  .watch-list button {
    position: relative;
    top: 10px;
    left: -4880px
  }

  .display-content {
    width: 375px;
    height: 250px;
    position: relative;
    top: -30px;
  }

  .genre-btns {
    position: relative;
    top: 70px;
    left: 10px;

  }

  .genre-btn {
    width: 100px;
  }

  #title {
    font-size: 30px;
  }
  
  #year {
    font-size: 20px;
  }
  
  #rating {
    font-size: 20px;
  }
  
  #plot {
    font-size: 0;
  }

  #watchlist-button {
    position: relative;
    top: 15px
  }
}
