
body {
  background-color: "grey";
  margin: 0;
}

.display-content {
  background-color: white;
  width: 700px;
  height: 400px;
  padding: 15px;
}

.movie-content {
  font-size: 50px;
  color: #000000;
}

/*.genre-btn {
  position: relative;
  top: 250px;
  display: flex;
  margin: auto;
  justify-content: center;
}*/

.btn {
  margin: 10px;
}

#title {
  font-size: 60px;
}

#year {
  font-size: 40px;
}

#rating {
  font-size: 40px;
}

#plot {
  font-size: 30px;
}
